In [1]:
from put_image import put
import numpy as np
import pandas as pd
import os
from tqdm import tqdm

In [2]:
df = pd.read_csv('/home/ubuntu/diabetic-retinopathy/trainLabels.csv', index_col=0)
df

             level
image
10_left          0
10_right         0
13_left          0
13_right         0
15_left          1
...            ...
44347_right      0
44348_left       0
44348_right      0
44349_left       0
44349_right      1

[35126 rows x 1 columns]

In [3]:
filenames = os.listdir('/home/ubuntu/diabetic-retinopathy/train')

In [4]:
# Remove .jpeg extension from filenames
for i, item in enumerate(filenames):
    temp = os.path.splitext(item)[0]
    filenames[i] = temp

In [5]:
train_data = df.loc[filenames]
train_data

             level
image
41012_left       0
7291_left        0
39864_left       2
39415_left       0
6763_left        0
...            ...
7724_left        2
42_right         0
40407_left       0
43899_right      0
7761_left        0

[8415 rows x 1 columns]

In [6]:
for row in tqdm(train_data.iterrows()):
    name = row[0]
    level = row[1][0]

    put('/home/ubuntu/diabetic-retinopathy/train/' + name + '.jpeg', level)

0it [00:00, ?it/s]